Repository ByteTrix/Media-Player-Scrobbler-for-Simkl, changes with the labels that .github/labeler.yml gives for each.
All labels: feature, documentation, workflow, test, dependencies

.github/labeler.yml:

# Configuration for the PR Labeler
# Add 'feature' label to any PR that modifies files in the main package
feature:
- changed-files:
  - any-glob-to-any-file: 'simkl_scrobbler/**/*.py'
  
# Add 'documentation' label to any PR that modifies docs or markdown files
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/**/*'
  - any-glob-to-any-file: '**/*.md'

# Add 'workflow' label to any PR that modifies GitHub Actions
workflow:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/**/*'

# Add 'test' label to any PR that modifies test files
test:
- changed-files:
  - any-glob-to-any-file: 'tests/**/*'

# Add 'dependencies' label to PRs that modify dependency files
dependencies:
- changed-files:
  - any-glob-to-any-file: 'pyproject.toml'
  - any-glob-to-any-file: 'poetry.lock'

added todo list
  README.md
  docs/todo.md
Labels: documentation

fix: resolve backlog cleaner duplication and improve service installation for Windows
  simkl_scrobbler/movie_scrobbler.py
  simkl_scrobbler/service_manager.py
Labels: feature

chore: update poetry lock file handling in CI workflows
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
Labels: workflow

chore: update poetry lock file handling in CI workflows
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
Labels: workflow

chore: enhance CI workflows with improved permissions and dependency management
  .github/codeql-config.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependencies.yml
  .github/workflows/docs.yml
  .github/workflows/pr-checks.yml
  .github/workflows/publish.yml
Labels: workflow
